@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
    background: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.features, .pricing, .community, .support {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: #18A0FB;
    cursor: pointer;
}

.log-in {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: #18A0FB;
    background: #FFFFFF;
    border: 1px solid #18A0FB;
    border-radius: 6px;
    width: 130px;
    height: 40px;
    cursor: pointer;
}

.register {
    width: 130px;
    height: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    background: #18A0FB;
    cursor: pointer;
    border-radius: 6px;
    border: none;
}

.headimg {
    background-image: url('./images/headimg.jpg');
    width: 100%;
    height: 960px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.imgt {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 80px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #000000;
}

.join {
    background: #18A0FB;
    border-radius: 6px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
    font-size: 17px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: -0.015em;
    width: 192px;
    border: none;
    height: 52px;
    color: #FFFFFF;
}

.sharet {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    letter-spacing: -0.015em;
    color: #000000;
    margin-top: 20px;
    margin-left: 80px;
}

.ts {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.015em;
    color: #000000;
    margin-bottom: 24px;
}

.tp {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 32px;
}

.learnmb {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: -0.015em;
    color: #18A0FB;
    width: 130px;
    cursor: pointer;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #18A0FB;
    border-radius: 6px;
}

.boxt {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.015em;
    color: #000000;
}

.boxp {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
}

.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F5F5F5;
}

.companyt {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #000000;
    margin-top: 50px;
}

.companyp {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 40px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
}

.signupp {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
    margin-left: 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 10px;
}

.joinb1 {
    background: #18A0FB;
    border-radius: 6px;font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    letter-spacing: -0.015em;
    width: 192px;
    height: 52px;
    border: none;
    color: #FFFFFF;
    margin-right: 12px;
}

.contact {
    cursor: pointer;
    width: 192px;
    height: 52px;
    background: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;
    color: #18A0FB;
    border: 1px solid #18A0FB;
    border-radius: 6px;
}

.signupd {
    display: flex;
    background: #F5F5F5;
}

.signupb {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerp0 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #000000;
}

.navlogo {
    width: 122.07px;
    cursor: pointer;
    margin-right: 100px;
}

.msg {
    cursor: pointer;
    width: 44px;
    height: 44px;
}

.footp {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 60px;
}

.navfoot {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

.navleft, .navright {
    display: flex;
}

.messanger {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.navitems {
    display: flex;
    gap: 40px;
}

.nav {
    display: flex;
}

.buttons {
    display: flex;
    gap: 12px;
    align-items: center;
}

.logo {
    display: flex;
    margin-left: 30px;
    margin-right: 70.93px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.support {
    margin-right: 420px;
}

.share {
    display: flex;
    margin-top: 40px;
    margin-left: 80px;
}

.div2 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 120px;
}

.sed, .nemo>button {
    margin-bottom: 50px;
}

.shared {
    margin-bottom: 60px;
}

.img1 {
    margin-left: 60px;
    margin-right: 42px;
}

.box2td {
    margin-left: 65px;
}

.companyseriesd {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.companyseries1 {
    display: flex;
    gap: 44px;
}

.companyseries2 {
    display: flex;
    gap: 44px;
}

.company {
    background: #FFFFFF;
    margin-bottom: 60px;
}

.navleft {
    display: flex;
    gap: 44px;
}

.navright {
    display: flex;
    gap: 44px;
}

.app {
    margin-left: 40px;
}

.ny {
    margin-right: 142px;
}

.nav>img {
    cursor: pointer;
}